body {
    background-color: black;
   
}



h1#a {
    font-size: 70px;
    width: 0px;
    margin: auto;
}
h1#d {
    font-size: 70px;
    width: 0px;
    margin: auto;
}

h1#r {
    font-size: 70px;
    width: 0px;
    margin: auto;
}

h1#i {
    font-size: 70px;
    width: 0px;
    margin: auto;
}
h1#aa {
    font-size: 70px;
    width: 0px;
    margin: auto;
}
h1#n {
    font-size: 70px;
    width: 0px;
    margin: auto;
}

h1#o {
    font-size: 70px;
    width: 0px;
    margin: auto;
}