@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}


 body {
    height: 88vh;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(https://www.ausbildung123.de/berufsfeld/naturwissenschaften/index.php?rex_media_type=ausbildung_beruf&rex_media_file=beruf_lacklaborant.jpg);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: #ffffff96;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p{
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 768px) {
    form {
        max-width: 100%;
    }
}